@import url(./font-family.css);

:root{
	--edit-bg: #34383c;
	--dark: #26292c;
	--tools: #404349;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto;
	max-width: 100%;
}
.builder-inner{
	display: flex;
}
#editor-panel{
	background: var(--edit-bg);
	height: 100%;
	min-height: 100vh;
	position: sticky;
	top: 0;
	transition: all .3s ease-in-out;
}
.editor-inner{
	width: 300px;
	height: 100%;
	min-height: 100vh;
	color: #fff;
}
#preview-panel{
	flex: 1;
}
#switcher{
	cursor: pointer;
}
.switcher-inner{
	position: absolute;
	left: 100%;
	top: 50%;
	background-color: var(--edit-bg);
	height: 50px;
	width: 15px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	transform: translateY(-25px);
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	padding-right: 2px;
	z-index: 999;
}
.switcher-inner:hover{
	background: #71d7f7;
}
#editor-panel.remove{
	margin-left: -300px;

}
.icon i{
	transition: all .3s ease-in-out;
}
.rotate i{
	transform: rotate(180deg);
}
.preview-inner{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2rem;
}
.header{
	display: flex;
	align-items: center; justify-content: space-between;
	background: var(--dark);
	padding: 10px 15px;
	height: 45px;
}
.branding{
	font-weight: 700;
	font-size: 20px;
}
.grid-icon {
	align-items: center;
	display: flex;
}
.publish{
	background:#39b54a !important;
	border: none;
	border-radius: 0;
	outline: 0;
	color: #fff;
	min-height: 40px;
}
#eidtor-body{
	height: calc(100vh - 85px);
	padding: 0 15px;
	overflow-y: hidden;
}

ion-icon{
	pointer-events: none;
}
.grid-icon,
.humberger{
	cursor: pointer;
}
.btn-img img{
	width: 30px;
}
.tool-lists{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 1rem;
	list-style: none;
	padding: 0;
	column-gap: 1rem;
	padding-top: 1rem;
}
.tool-lists li{
	background: var(--tools);
	border-radius: 4px;
	padding: 20px 10px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.tool-lists li span{
	display: inline-block;
	/* text-align: center; */
}
.tool-lists li span:first-child{
	font-size: 23px;
}

#editor-options input:nth-child(odd){
	margin-bottom: 20px;;
}
.form-group{
	margin-bottom: 20px;
}
.form-group span{
	margin-bottom: 5px;
	display: block;
}


   /* width */

#eidtor-body:hover{
	overflow-y: auto;
}
#eidtor-body::-webkit-scrollbar {
	width: 4px;
}

  /* Track */
#eidtor-body::-webkit-scrollbar-track {
	background: #d4d4d4;
}

  /* Handle */
#eidtor-body::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px
}

  /* Handle on hover */
#eidtor-body::-webkit-scrollbar-thumb:hover {
	background: yellowgreen;
}
#eidtor-body.scroll:hover{
	padding-right: 11px;
}



#empty-sec .box{
	padding: 3rem 2rem;
	border: 2px dashed #d5dadf;
	text-align: center;
	color: #6e6e6e;
}